@charset "UTF-8";

body{
	background-color: #402717;
	background-image: url(image/image1.png);
	background-size: 100%;
	background-repeat: repeat-y;
	background-blend-mode: darken;
	color: #f6efdb;
}

h1{
	font-size: 60px;
}

h2{
	font-size: 40px;
}

h1,h2{
	letter-spacing: 5px;
}

h1,h2,p,div{
	text-align: center;
}

ul{
	display: flex;
	padding: 0px;
	justify-content: center;
	list-style: none;
	margin-bottom: 65px;
}

li{
	font-size: 32px;
	margin: 0 30px;
	padding: 5px;
	border-color: #cc0000;
	border-style: solid;
	border-width: 3px;
}

li a{
	text-decoration: none;
}

li a:visited{
	color: #f6efdb;
}

li a:hover{
	color: #cc0000;
}

section{
	border-color: #cc0000;
	border-style: solid;
	border-width: 3px;
	margin-bottom: 30px;
}

main{
	width: 90%;
	margin: auto;
}

div{
	border-bottom: dashed 3px #cc0000;
	
}

#end_div{
	border-bottom: 0px;
}

 .Emphasis{
 	color: #97cdf3;
 	font-weight: bold;
 	font-size: 25px;
 }

 .up_arrow::after{
 	content: "\02191";
 }

 .up_arrow::before{
 	content: "\02191";
 }